body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: cursive;
  background-color: #f8f9fa;
}

.content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 4rem;
}
