#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0.2rem 0.5rem;
}

h2,
h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
textarea {
  max-width: 90%;
  padding: 10px;
  margin: 0.2rem;
}

button.tablinks {
  padding: 10px;
  margin: 0.2rem 0;
  border: 1px solid #f1faf1;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #d9534f;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.tablinks:hover {
  background-color: #c9302c;
}

button.tablinks.active {
  background-color: #ac2925;
}

button.add {
  max-width: 90%;
  padding: 10px;
  margin: 0.2rem;
  background-color: #ac2925;
}
