.headerContainer {
  background-color: #282c34;
  color: #fff;
  padding: 10px 0;
  text-align: center;

  button {
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #282c34;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 20px;

    &:hover {
      background-color: #282c34;
      color: #61dafb;
    }

    &:focus {
      outline: none;
    }
  }
}
